{% extends 'base.html' %}

{% block content %}
<div class='col'>
    Hello, {{ user.username }}!
    <br>
    <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
        <a href="{% url 'avatar_upload' %}">
            <img src="{{ user.profile.avatar }}" onerror="this.src='./media/avatar_default.png';this.onerror=''" class="img-fluid">
        </a>
        <br>
    </div>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'password_change' %}">Change password</a>
    </div>
    <hr>
    <div class='col-md-8'>
        <form action="/dashboard/", method='post'>
            {% csrf_token %}
            <div class="form-group">
                {{ form.content }}
            </div>
            <button class="btn btn-dark my-4" type="submit">Save</button>
        </form>
    </div>
    <hr>
    <div class='col-md-8'>
        <p>User name: {{ user.username }}</p>
        <p>Fisrt Name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
    </div>
</div>
{% endblock %}